

.SearchBar .Form Form.Submit {
    text-align: center !important;
}

.SearchBar .Form Form.Submitted {
    text-align: left !important;
}

.SearchBarLabel {
    font-size: 5em !important;
    margin-bottom: 1em !important;
}

.SearchedBarLabel {
    font-size: 2.5em !important;
    margin-bottom: 0.5em !important;
}